.navigation-color {
	background-color: black;
	color: white;
}
.no-border{
	border: none;
}
.margin-home{
	margin-left: 200px;
	margin-right: 15px;
}
.margin-menu-other{
	margin-left: 12px;
	margin-right: 12px;
}
.menu-color-white{
	color: white;
}